<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.locationBlockTitle }}</h3>
                    <ul>
                        {% if site.eventLocationName %}<li>{{ site.eventLocationName }}</li>{% endif %}
                        <li>
                            <a href="{{ site.mapLink }}">
                                {{ site.eventStreetAddress }}<br />
                                {{ site.eventAddressLocality }}, {{ site.eventAddressLocalityRegion }} {{ site.eventPostalCode }}
                            </a>
                        </li>
                        <li>
                            <p>Building: Campus Center</p>
                            <p>Parking: Dutch Purple or Dutch Gold</p>
                            <p>There will be purple-colored signs leading you from the entrance to UAlbany campus directly to the parking for the event. In addition, signs will be placed along the route you will need to walk to get from the parking lots to the Campus Center. So, please navigate to the UAlbany Campus and then simply follow the purple-colored signs to DevFestCR18.</p>
                        </li>
                    </ul>
                </div>
                <a href="{{ site.mapLink }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->